@import url(//db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free);
@font-face {font-family: "Ink Free"; src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot"); src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg"); }
@mixin background($imgpath,$position: center, $repeat: no-repeat){
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    height: 100%;
    width: 100%;
  }
}
.App {
  box-sizing: border-box;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: "Ink Free";
    @include background("https://i.pinimg.com/originals/69/51/4c/69514c343be0bc939c95b30a54489ffe.jpg");
    background-size: cover;
  }
  

  