@import url(//db.onlinewebfonts.com/c/0801c08e5412f54e4b4e9ad146d83a12?family=Ink+Free);
@font-face {font-family: "Ink Free"; src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot"); src: url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.woff") format("woff"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0801c08e5412f54e4b4e9ad146d83a12.svg#Ink Free") format("svg"); }
@mixin background($imgpath,$position: center, $repeat: repeat){
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    // height: 100%;
    // width: 100%;
  }
}
$color1:#385132;
$color2: #243624;
$color3: #6b4f38;
$color4: #3c291c;
$color5: #2d1e10;
$color6: #a16b25;


.App {
  box-sizing: border-box;
  display: flex;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: "Ink Free";
    @include background("https://cdn.discordapp.com/attachments/740285624422236220/760901227067211866/cartoon-style-wood-texture_1110-882.png");
    flex-direction: column;
  }
  .nav-header {
    width: 100%;
    height: 10%;
    text-align: left;
    background-color: $color6;
    opacity: 75%;
    color: $color2;
    flex-direction: row;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header h1 {
    font-size: 6vh;
    width: 50%;
    padding: 2vh;
  }
  .nav-header h3 {
    width: 5%;
    text-transform: uppercase;
  }
  .navbuttons{
    display: flex;
    margin-right: 2vw;
    color: $color6;
    
  }
  .button {
    color: $color6;
    background-color: $color5;
    margin: 2px;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }
  .login {
    color: $color2;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    font-weight: 700;
  }
  .input-container {
    align-self: center;
    height: 35vh;
    width: height;
    background-color: $color6;
    border-radius: 15%;
    padding: 1%;
    opacity: 85%;
  }
  .register {
    color: $color2;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    font-weight: 700;
  }
  .inputs {
    margin: 1vh;
    text-align: center;
  }
  .inputsboxes p{
    margin: 1vh;
  }
  .linkto p{
    margin: 1vh;
  }
  .login-button {
    margin: 1vh;
    background-color: $color4;
    color: $color6;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }
  .register-button {
    margin: 1vh;
    background-color: $color4;
    color: $color6;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }
  .account {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $color2;
    font-weight: 700;
    font-size: 18px;
  }
  .userinfo {
    width: 35%;
    height: 80%;
    background-color: $color6;
    border-radius: 15%;
    padding: 1%;
    opacity: 85%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
  }
  .partiesdisplay {
    width: 35%;
    height: 80%;
    background-color: $color6;
    border-radius: 15%;
    padding: 1%;
    opacity: 85%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding:2%;
  }
  .changeinfo {
    height: 100%;
    width: 100%;
  }
  .changeinfo p {
    margin-bottom: 5%;
  }
  .detailcontainer {
    display: flex;
    height: 35vh;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .detailcontainer p{
    margin: 2vh;
  }
  .detailcontainer button {
    width: 35%;
    align-self: center;
    background-color: $color4;
    color: $color6;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;  
    padding: 5vh;
  }
  #contact-form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    margin-top: 5vh;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 18px;
  }
  .btn {
    align-self: center;
    margin: 1vh;
    background-color: $color4;
    color: $color6;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }
  .form-control {
    margin-left: 3vw;
  }
  .deleteAcc {
    margin-top: 2vh;
  }
  .input-container-button-small {
    align-self: center;
    margin: 1vh;
    background-color: $color4;
    color: $color6;
    font-size: 16px;
    font-family: "Ink Free";
    font-weight: 700;
  }